.contacts {
    text-align: right;
    font-style: normal;
}
.contacts__desc {
    font-size: 11px;
}

.contacts__number {
    display: block;
    font-size: 26px;
}
.contacts__shedule {
    text-decoration: underline;
}

.footer {
    padding-bottom: 60px;
    vertical-align: middle;
}
.footer .menu {
    padding-left: 70px;
}
.footer .contacts {
    margin-left: 0px;
}

.footer .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.footer .container:last-child {
    align-items: flex-end;
}

.logo-img {
    text-align: left;
}

.socials {
    /* vertical-align: top; */
    display: inline-flex;
    /* margin-right: 70px; */

}
.socials__item {
    
    margin-right: 10px;
}
.socials__item:last-child {
    margin-right: 0px;
}
.socials__link {
    display: block;
    text-decoration: none;
    height: 36px;
    width: 36px;
}
.socials__item--icon--tg .socials__link {
    background-image: url(../../img/telegram.png);
    transition-duration: 200ms;
}
.socials__item--icon--tg:hover .socials__link {
    background-image: url(../../img/t2.png);
}

.socials__item--icon--vk .socials__link {
    background-image: url(../../img/vk.png);
    transition-duration: 200ms;
}
.socials__item--icon--vk:hover .socials__link {
    background-image: url(../../img/vk2.png);
}

.socials__item--icon--in .socials__link {
    background-image: url(../../img/in.png);
    transition-duration: 200ms;
}
.socials__item--icon--in:hover .socials__link {
    background-image: url(../../img/in2.png);
}

.socials__item--icon--fb .socials__link {
    background-image: url(../../img/f.png);
    transition-duration: 200ms;
}
.socials__item--icon--fb:hover .socials__link {
    background-image: url(../../img/f2.png);
}
